/* Projects.module.css */
.xa1b2c {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.xa1b2c img {
  max-width: 250px;
  align-self: center;
  background-color: var(--project-card-bg);
  border-radius: 20px;
}

.xa1b2c a {
  width: fit-content;
  text-decoration: none;
  color: #222;
  transition: transform 200ms ease-in-out;
}

.xa1b2c a:hover {
  transform: scale(1.05);
}

.xd3e4f {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

@media (min-width: 800px) {
  .xd3e4f {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 30px;
  }
}
